.shliakh-form {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.fildset {
  display: flex;
  flex-direction: column;

  gap: 44px;
}

.fildset-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 32px;
}

.fildset__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

.margin-bottom {
  margin-bottom: 32px;
}

.shliakh-form__input-label {
  width: 100%;
  position: relative;
}

.shliakh-form__input {
  width: 100%;
  padding: 8px;
  font-size: 14px;

  border: none;
  border-bottom: 1px solid #000;
}

.shliakh-form__input:invalid {
  border-color: red;
}

.shliakh-form__input:valid {
  border-color: green;
}

.shliakh-form__input-label--file {
  width: 100%;
  cursor: pointer;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;

  border: 2px dashed #000;
}

.shliakh-form__input-label--file:invalid {
  border-color: red;
}

.shliakh-form__input-label--file:valid {
  border-color: green;
}

.shliakh-form__input-label--file p {
  margin: 0;
}

.shliakh-form__input--file {
  display: none;
}

.file-added-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.input-error {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2px;
  font-size: 12px;
  color: red;
}

.form_page_button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  gap: 32px;
}

.form-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  width: 100%;

  font-size: 12px;

  gap: 6px;

  background-color: #fff4d7;
}

.form-alert p {
  margin: 0;
}
.form-alert .warning {
  color: red;
}

.form-alert--margin-top-minus {
  margin-top: -16px;
  align-items: center;
}

.add-declaration__title {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-size: 14px;
}

.add-declaration__subtitle {
  font-size: 12px;
  color: red;
}

.file-input-svg {
  width: 24px;
  height: 24px;
}

.form_page_button {
  padding: 32px 0;
}

.shlyah-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  width: 100%;
  padding: 12px 32px;
  border: 0;

  font-size: 14px;

  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

.shlyah-btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.disabled {
  color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
.disabled:hover {
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.2);
}

.submit__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}

.input-delete-file {
  background-color: transparent;

  border: 3px solid #000;
  border-radius: 50px;
  padding: 4px 8px;

  font-size: 12px;
}

/* media max 768px */

@media (max-width: 768px) {
  .shliakh-form {
    gap: 16px;
  }

  .fildset {
    gap: 16px;
  }

  .fildset-flex {
    flex-direction: column;
    gap: 16px;
  }

  .fildset__title {
    font-size: 16px;
  }

  .shliakh-form__input-label--file {
    height: 100px;
  }

  .shliakh-form__input-label--file p {
    font-size: 12px;
  }

  .form_page_button {
    gap: 16px;
  }

  .shlyah-btn {
    padding: 8px 16px;
    font-size: 12px;
  }

  .submit__wrapper {
    padding: 16px 0;
  }
}

.modall-success-mail {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);
}

.modall-success-mail__container {
  position: relative;

  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 32px;

  background-color: #fff;
  border-radius: 8px;
}

.display-none {
  display: none;
}
